<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styleLog.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="titolo">
            <h2>Aggiungi un utente</h2>
        </div>
        <div class="campi">
            <label for="nome">Nome</label>
            <input id="nome" type="text">
            <label for="cognome">Cognome</label>
            <input id="cognome" type="text">
			<label for="cf">Codice Fiscale</label>
			<input id="cf" type="text">
			<label for="data">Data di nascita</label>
			<input id="data" type="date">
        </div>
        <div id="bottone">
            <input type="button" class="btn" id="aggiungi" value="Aggiungi">
        </div>
    </div>
<script src="/js/aggiungi.js"></script>
</body>

</html>